/*
screen color: #E8E8E8
etchasketch red color: #f80012; 
 */

 /* 
 red: F33945
 gray: 3E3F2A
 black: 202014
 dark green: 1A2118
 */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-top: 5rem;
  color: #ffff99;
  background-image: linear-gradient(to bottom, #00f8e6, white);
}

.size-top {
  width: 600px;
  height: 80px;
}

.size-bottom {
  width: 600px;
  height: 100px;
}

.size-left-right {
  width: 100px;
  height: 400px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.border,
.radius-top,
.radius-bottom {
  background-color: #f80012;
}


.radius-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.radius-bottom {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.border-sides {
  background-color: #f80012;
}

.window {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;;
  background-color: #e8e8e8;
  padding: 0;
  margin: 0;
}

.top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-left: 6.25rem;
}

.middle-section {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.bottom-panel {
  display: flex;
  justify-content: space-between;
}

button {
  display: flex;
  background-color: white;
  border: none;
  border-radius: 100%;
  padding: 1.75rem;
  height: .5rem;
  max-width: .5rem;
  box-shadow: 0 4px 5px black;
}

.button-left {
  margin-left: 24px;
  margin-top: 16px;
}

.button-right {
  margin-top: 16px;
  margin-right: 24px;
}

.big-block {
  height: 25px;
  width: 25px;
}

.medium-block {
  height: 12.5px;
  width: 12.5px;
}

.small-block {
  height: 6.25px;
  width: 6.25px;
}

.fill-black {
}

.fill-rainbow {
}

.fill-erase {
}

.tools {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  width: 600px;
  height: auto;
  background-color: #f80012;
  border-radius: 1rem;
  gap: .5rem;
}

.tool-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  width: 600px;
}

.tool-titles {
  display: flex;
  justify-content: space-around;
  width: 600px;
  font-size: 1.25rem;
  font-weight: 700;
}

.align {
  min-width: 100px;
  text-align: center;
}

